@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
    font-family: "Encode Sans";
    
}
/*videóban 48 percnél box sizing-et magyarazza */

html, body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  
  }

  .download-icon{
    margin-bottom: 5%;
   }

   .cv-download-button{
    background-color: #056b88;
   }

  .col-md-3 {
    padding: 1rem;
  }

  #about-me-section {
   background-color: #242430; 
   background-image: url(Images/bg-1.png);
   background-attachment: fixed;

   
   
  }

.about-me-heading {
    color: #FBEE98;
    margin-top: 10%;
}
  

.about-me-header {
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: Azonix;
  text-align: center;
  
}



.about-me-picture {
 max-width: 200%;
 display: block;
 margin-left: 20%;
 max-height: 100vh;
 
}



.language-text{
  margin-left: 5%;
}

.infos-about-me{
  display: none;
}

@media only screen and (min-width: 768px) {
  .infos-about-me {
    
    background-color: #FBEE98;
    display: flex;
    margin-top: 5%;
    max-width: 75%;
    
  }
}
@media only screen and (min-width: 1300px) {
  .infos-about-me {
    
    background-color: #056b88;
    display: flex;
    margin-top: 20%;
    max-width: 90%;
    
  }
}







.me {
  border-radius: 50%;
  max-width: 100%;
  display: block;
  margin:auto;
  
}

#softSkills {
  padding: 1% 10%;
  text-align: center;
}

#hardSkills {
  padding: 1% 10%;
  text-align: center;
}

.hard-skill-one {
  background-color: #FBEE98;
  transform: rotate(2deg);
}
.hard-skill-two {
  background-color: #FBEE98;
  transform: rotate(-4deg);
}
.hard-skill-three {
  background-color: #FBEE98;
  transform: rotate(6deg);
}
.hard-skill-four {
  background-color: #FBEE98;
  transform: rotate(-6deg);
}

@font-face {
  font-family: Azonix;
  src: url(Fonts/Azonix.otf);
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: Azonix;
  text-align: center;
}

h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}


.skills-heading {
  margin-top: 3%;


}


/*fade-in animation*/


.effect:hover {
 

}

.skills-icons {
  margin-top: 20%;
}

#carousel-section {
  background-color: #242430;
  
}


.carousel-inner img {
  margin: auto;
  
}

/*.carousel-container {
  padding: 0 30% 0 30%;
}
*/

.carousel-caption {
  margin-bottom: 3%;
  
}
/*
.carousel-captiont- media queryvel megcsinalni,
hogy kissebb képernyn a gomb ne csuszkaljon
*/

.technology {
  padding: 1% 10%;
  text-align: center;
  
}

.software {
  padding: 1% 10%;
  text-align: center;
}

#technologyAndSoftware {
  color: #fbee98;
}


